 *{
padding: 0px;
margin: 0;
box-sizing: border-box;

}
  
h1{
    text-align: center;
    
}


h3,span{
    color: rgb(205, 149, 76);

}


body{
    background: url(./portImage.jpg);
    
    background-repeat: no-repeat; 
    background-size: cover;      
    background-position: center;  
    background-attachment: fixed; 
    color:rgb(223, 226, 204);
    overflow-x: hidden;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

.aside_container{
    width:320px;
    height:95vh;
    overflow-y: auto;
    position:fixed;
    top:10px;
    left:10px;
    background: rgba(16, 0, 0, 0.05);
    border:3px solid rgba(159, 14, 14, 0.3);
    border-radius:30px;
    padding:20px;
    transition:.5s;
}
.aside_container:hover{
    transform: translateY(10px) scale(1) ;
     box-shadow: 0 10px 25px rgba(255, 0, 0, 0.2);
}

.social-icons{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    opacity: .5;
    height: 40px;
    align-items: center;
}


.aside_container h1{
    color: rgb(161, 10, 10);
}


#profile_image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
    left: 60px;
    transition:  transform 0.5s ease;
    
}

#profile_image:hover{

box-shadow: 0 10px 25px rgba(255, 0, 0, 0.2);
transform: translateY(-10px) scale(1.2);
}


.icons{
    color: rgb(23, 21, 17);
    transition: .3s ease;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 194, 75);
    border-radius: 20px;
}

.icons:hover{
    opacity: 1;
   box-shadow: 0 10px 30px rgba(212, 175, 55, 0.25);

    transform: translateY(5px) scale(1.5) ;
}


.main_container{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 390px;
    top: 10px;
    gap: 20px;
     background: rgba(16, 0, 0, 0.05);
   
}



.min_container{
    border: 2px solid ;
    border-color: rgb(188, 29, 29);
    border-radius: 50px;
    width: auto;
    padding: 10px;
   transition: .3s ease;
    background: rgba(16, 0, 0, 0.05);
}
.min_container h1:hover{
    color: white;
}
.min_container p:hover{
    color: rgb(188, 29, 29);
}

.min_container:hover {
    transform: translatey(-10px) scale(1.06);
 box-shadow: rgb(194, 1, 1);
}



